.userImage {
  width: 3em;
  height: auto;
}

.postHeader{
  max-height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom:1px pink solid;
  margin-top:1em;
  margin-bottom:1em;
}

@media screen and (min-width: 700px){
  .postContainer {
      width: 540px;
      height: auto;
  }
  .postCard {
      width: 540px;
      height: auto;
  }
}

.postCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: .5em;
}

.postFooter{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .5em;
}

.tagList {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tagCard {
  background-color: pink!important;
  border-color: pink!important;
  color: white!important;
}

.tagCard:hover {
  color: white;
  background-color: rgb(255, 152, 152)!important;
  border-color: rgb(255, 152, 152)!important;
}

.context-container {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
}

.postText {
  padding-left: 1em;
  text-align: left;
  max-width: 400px;
  max-height: 300px;
  overflow-y: auto;
}

.removeInsp {
  color: pink!important;
  padding: 0em!important;
}

.addInsp {
  color:gray!important;
  padding: 0em!important;
}

.ownerBtns {
  max-height:2.5em!important;
}

.postTextEdit {
  margin-left: .3em;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 166, 166);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(214, 133, 133);
  }

  .pinkBtn {
  background-color: pink!important;
  border-color: pink!important;
  color: white!important;
}

.pinkBtn:hover {
  color: white;
  background-color: rgb(255, 152, 152)!important;
  border-color: rgb(255, 152, 152)!important;
}

.dangerBtn {
  background-color: rgb(255, 152, 152)!important;
  border-color: rgb(255, 152, 152)!important;
  color: white!important;
}

.dangerBtn:hover {
  color: white;
  background-color: rgb(255, 115, 115)!important;
  border-color: rgb(255, 115, 115)!important;
}

.cancelBtn {
  background-color: white!important;
  border-color: rgb(255, 152, 152)!important;
  color: rgb(255, 152, 152)!important;
}

.cancelBtn:hover {
  color: white!important;
  background-color: rgb(255, 115, 115)!important;
  border-color: rgb(255, 115, 115)!important;
}

.userName {
  margin-left: .5em;
  color: rgb(255, 115, 115)!important;
}

.searchBar {
  height: 38px;
  outline: gray!important;
}

.searchForm{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.postInfo{
  display:flex;
  flex-direction: row;;
}

